@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  background-color: #0f2c41;
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fi1.wp.com%2Fi.pinimg.com%2Foriginals%2F96%2F74%2Fa3%2F9674a3ff21e02af82daa565e5773fa56.gif&imgrefurl=https%3A%2F%2Fpinjom.blogspot.com%2F2021%2F10%2F35-gambar-hacker-gif-wallpaper-hd.html&tbnid=WZhkTUWv5V-cJM&vet=1&docid=wzH1-rwMSl3BmM&w=800&h=600&itg=1&source=sh%2Fx%2Fim");
  text-align: center;
  font-weight: 700;
}

#hello-wrapper {
  color: #00FF00;
  font-family: 'Source Sans Pro', sans-serif;
}

.typewriter {
  border-right: solid 5px transparent;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  animation:
  animated-text 1.2s steps(17, end) 1s 1 normal both
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#particles-js {
  height: 100vh;
}
